body {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  font-weight: normal;
  font-family: PT Sans Regular, sans-serif;
}

h1 {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  font-weight: bold;
  font-family: PT Sans, sans-serif;
}

h2 {
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  font-weight: bold;
  font-family: Cuprum, sans-serif;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header-top {
  background-color: #293449;
}

.wrapper-center {
  width:940px;
  margin: 0 auto;
}

.top-bar {
  margin: 0px;
}

.top-bar a {
  color: #ffffff;
}

.top-bar li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.top-logo {
  box-sizing: border-box;
  width: 220px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 24px;
}

.top-search {
  width: 250px;
}

.header-sub {
  padding-bottom: 60px;
  background: #f1f5f7;
}

.description {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  width: 300px;
  margin-right: 20px; 
  padding: 45px 50px;
  color: #ee3643;
}

.header-contact {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  width: 300px;
  margin-right: 10px; 
  padding: 45px 0px;
  color: #32425c;
}

.tel {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  width: 270px;
  padding: 10px;
  font-size: 21px;
  border: 3px solid #ffffff;
  text-align: center;
  color: #e9292a;
}

.register {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  width: 300px;
  text-align: right;
}


.header-menu ul li{
  box-sizing: border-box;
  width: 130px;
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
}

.promo {
  padding-top: 60px;
  padding-bottom: 50px;
}

.promo-item {
  display: inline-block; 
  width: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.promo-item:last-child {
  margin-right: 0px;
}

.promo-slider {
  float: left; 
  width: 620px;
  margin-right: 20px;
}

.promo-materials {
  background-color: #f6b22d;
}

.promo-tools {
  background-color: #4aafde;
}

.promo-tech {
  background-color: #cc79d1;
}

.promo-sale {
  margin-right: 0px;
  background-color: #85d179;
}

.promo-delivery {
  background-color: #f6b22d;
}

.popular-catalog {
  background: #f7f3ec;
  padding: 30px;
  margin-bottom: 20px;
}

.popular-catalog h2 {
  display: inline-block;
  vertical-align: middle;
  margin: 0px;
  color: #32425c;
}

.popular-catalog a {
  float: right;
}

.popular-item {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 220px;
  margin-right: 20px; 
  margin-bottom: 20px;
  padding: 20px 0px;
  border: 1px solid #e5e5e5;
  text-align: center
}

.popular-item:last-child {
  margin-right: 0px;
}

.brand {
  padding-bottom: 85px;
}

.brand-banner {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  margin-right: 20px;
}

.banner4, 
.banner8 {
  margin-right: 0px;
}

.service {
  padding-top: 65px;
  background-color: #f2f6f8;
}

.service h2 {
  margin: 0px;
  margin-bottom: 35px;
  color: #000000;
}

.service p {
  width: 400px;
  margin-bottom: 75px;
}

.service-list {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width:240px;
  margin-bottom: 100px;
  margin-right: 70px;
}

.service-description, 
.guarantee-description,
.credit-description {
  display: inline-block;
  vertical-align: top;
  width: 620px;
}

.service-description h2 {
  margin-bottom: 35px;
  color: #32425c;
}

.guarantee-description,
.credit-description {
  display: none;
}


.about {
  padding-top: 85px;
  padding-bottom: 85px;
}

.about-company,
.about-contact {
  display: inline-block;
  vertical-align: top;
}

.about-company {
  width: 540px;
  margin-right: 95px;
}

.about h2 {
  margin-bottom: 40px;
  color: #000000;
} 

.about-contact { 
  width: 300px;
  margin-right: 0px;
}

footer {
  background-color: #32425c;
  color: #f1f5f7;
}

footer a {
  color: #f1f5f7;
  text-decoration: none;
}

.footer-logo,
.footer-menu,
.footer-menu li,
.footer-address,
.footer-promo,
.footer-submenu li{
  display: inline-block;
  vertical-align: top;
}

.footer-logo {
  box-sizing: border-box;
  width: 220px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 24px;
  margin-right: 160px; 
}

.footer-menu {
  width: 540px;
}

.footer-menu li,
.footer-submenu li{
  padding-right: 60px;
}

.footer-menu li:last-child,
.footer-submenu li:last-child {
  padding-right: 0px;
}

.footer-address {
  width: 370px;
  margin-right: 35px;
}

.footer-submenu a {
  color: #ffd180;
}

.footer-bottom {
  padding: 35px;
  background-color: #293449;
  
}

.copyright,
.social,
.feedback {
  display: inline-block;
  vertical-align: top;
}

.copyright {
  width: 230px;
  margin-right: 160px;
}

.social {
  width: 145px;
  margin-right: 100px;
}

.feedback-mail,
.feedback-dev {
  display: inline-block;
  vertical-align: top;
  width: 140px;
}

.feedback a {
  color: #ffd180;
}



/*------------------------- CATALOG.HTML---------------------------*/


.profile {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  padding-top: 45px;
}

.profile ul li {
  display: inline-block;
  vertical-align: top;
  padding-left: 20px;
  margin-right: 30px;
}

.user {
  padding: 15px;
  background-color: #ffffff;
  text-align: center;
}

.user-name {
  font-size: 21px;
  color: #000000;
}

.profile ul a {
  text-decoration: underline;
  color: #32425c;
}


.breadcrumbs li {
  display: inline-block;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 55px;
}

.title-page h1 {
  margin: 0px;
  margin-bottom: 20px;
  padding: 30px;
  background-color: #f2f6f8;
  color: #32425c ;
}

.filter {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  margin-right: 20px;
}

.filter h3 {
  margin: 0px;
  margin-bottom: 20px;
  padding: 15px 20px;
  background-color: #f7f3ec;
  font-size: 13px;
}

.filter-price h4 {
  margin: 0px;
  margin-bottom: 20px;
  color: #000000;
  font-size: 17px;
}

.price-controls {
  margin-bottom: 10px;
  padding:30px 20px;
  background-color: #f7f3ec;
}

.price-value input {
  display: inline-block;
  width: 95px;
  padding: 5px 0px;
  background-color: #f7f3ec;
}

.price-value {  
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e5e5;
}

.filter-brand {
  margin-bottom: 25px;
  padding-top: 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.filter-brand h4 {
  margin: 0px;
  margin-bottom: 20px;
  color: #000000;
  font-size: 17px;
}

.filter-brand input {
  display: block;
}

.filter-power {
  margin-bottom: 75px;
}

.filter-power h4 {
  margin: 0px;
  margin-bottom: 20px;
  color: #000000;
  font-size: 17px;
}

.filter-power input {
  display: block;
}

.catalog {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 700px;
}

.sort-bar {
  background-color: #f7f3ec;
  padding: 15px 20px;
  margin-bottom: 20px;
}

.sort-bar h3 {
  display: inline-block;
  vertical-align: middle;
  margin: 0px;
  margin-right: 140px;
  padding: 0px;
  font-size: 13px;
}

.sort-bar ul {
  display: inline-block;
  vertical-align: middle;
}

.sort-bar ul li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
}

.catalog-item {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 220px;
  margin-right: 20px; 
  padding: 20px 0px;
  margin-bottom: 20px;
  border: 1px solid #e5e5e5;
  text-align: center
}

.catalog-item h1 {
  font-size: 18px;
}

.catalog-item:nth-child(4),
.catalog-item:nth-child(7),
.catalog-item:nth-child(10){
  margin-right: 0px;
}


.pages {
  margin-top: 55px;
  margin-bottom: 60px;
}

.pages li {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  padding: 15px;
}

.catalog-about {
  background-color: #f2f6f8;
  padding: 65px;
}

.catalog-about h2 {
  margin-bottom: 35px;
  font-size: 30px;
  color: #000000;
}